[submodule "ls-platform"]
	path = ls-platform
	url = git@github.com:loyal-ki/ls-platform.git
[submodule "ls-chat-mini-app"]
	path = ls-chat-mini-app
	url = git@github.com:loyal-ki/ls-chat-mini-app.git
[submodule "ls-auth-mini-app"]
	path = ls-auth-mini-app
	url = git@github.com:loyal-ki/ls-auth-mini-app.git
[submodule "ls-platform-backend"]
	path = ls-platform-backend
	url = git@github.com:loyal-ki/ls-platform-backend.git
